<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/globals.css">
  <link rel="stylesheet" href="/css/layout.css">
  <!-- endinject -->
</head>
<body>
  {{{body}}}
  <!-- inject:js -->
  <script src="/js/common.min.js"></script>
  <script src="/js/test.min.js"></script>
  <!-- endinject -->
</body>
</html>